

#Variablen-Zuordnung Rolladenname zu Kanal-Nummer
EG_Buero="1"
EG_DU_WC="2"
EG_Kueche="3"
EG_Esszimmer_Links="4"
EG_Esszimmer_Rechts="5"
EG_Wohnzimmer_Links="6"
EG_Wohnzimmer_Rechts="7"


#Variablen-Zuordnung Verschattungsprozentwerte
EG_Buero_Verschattung="35"
EG_DU_WC_Verschattung="35"
EG_Kueche_Verschattung="40"
EG_Esszimmer_Links_Verschattung="30"
EG_Esszimmer_Rechts_Verschattung="35"
EG_Wohnzimmer_Links_Verschattung="40"
EG_Wohnzimmer_Rechts_Verschattung="40"

